version: 2

jobs:
  build:
    docker:
      - image: "debian:buster"
    steps:
      - checkout
      - run:
          name: Install dependencies GCC and CLANG and Norminette
          command: 'apt-get update && apt-get install -y clang gcc make python3 python3-pip && install -U setuptools && pip3 install -U norminette'
      - run:
          name: Norminette
          command: norminette main.c src/
      - run:
          name: Unit_tests
          command: make test
      - run:
          name: Acceptance-Test ASAN
          command: make run_asan
